.w5 {
    width: 40%
}

#side-menu-lateral {
    display: none;
}

.alert-carrinho {
    font-size: 14pt !important;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 8pt;
    }
    
    #menu-lateral {
        display: none;
    }
    
    #side-menu-lateral {
        display: block;
    }
}